<!DOCTYPE html>
<html>

<head>
    <title>about</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>the site was created by Asfaqur. It uses data from mapbox.com and darksky.net!</p>
    <img class="portrait" src="/img/Task1.png" alt="img">
    </div>
    
    {{>footer}}
</body>

</html>